extends layout
block content
    section
        header
          h1 My Dashboard
          div.userDetails
            div(class="avatar" style='background-image: url("./../../../avatars/' + user.avatarname + '")') 
            h4=user.email
                 
        h2 My Posts
        div.posts-container
            if(user.Posts.length > 0)
                each post in user.Posts
                    div.post
                        p.title=post.title
                        a(href="/post/" + post.id)
                        div(class="cover" style='background-image: url("./../../' + post.covername + '")')
                           